body {
    font-family: Arial;
    background-image:url("../img/bg_pattern.png");
}
h1 {
    text-indent:-9999px;
    background-image:url("../img/banner.png");
    background-repeat:no-repeat;
    height:100px;
    width:400px;
    float:left;
}
#title {
    color: red;
    font-size:40px;
    margin-left:20px;
}
#slogan{
    font-size:26px;
    color:white;
}

#index_wrapper {
    background-image:none!important;
}

#timewrapper {
    float:right;
    background-color:#828282 ;
}

#income_graph {
    margin: 20px;
}
#inner {
    display:block;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}
.menu-bar {
    padding-top:20px;
}
.widget {
    background-color:#202020;
    border:1px solid #888;
    float:left;
    margin:20px;
    padding:20px;
    border-radius:4px;
}
#menu-bar .widget {
    float:right;
}
.clearing {
    clear:both;
}
