body {
    font-family: Arial;
    background-image:url("../img/bg_pattern.png");
}
h1 {
    text-indent:-9999px;
    background-image:url("../img/banner.png");
    background-repeat:no-repeat;
    height:100px;
}
#title {
    color: red;
    font-size:40px;
    margin-left:20px;
}
#slogan{
    font-size:26px;
    color:white;
}

#index_wrapper {
    background-image:none!important;
}

#timewrapper {
    float:right;
    background-color:#828282 ;
}

#income_graph {
    margin: 20px;
}
